{% extends "basic.html" %}
{% block body %}

<style>
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
</style>
<div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
        <h2>Text correction</h2>
        <p>The primary purpose of text correction is to improve the accuracy of search results in Trove’s newspapers and gazette zones. Text correction also allows for more accurate transcription downloads of the article text.
            Text correction is not intended to aid in the accurate aesthetic reproduction of an article. As such the ability to update formatting styles such as italics, bold and SMALL CAPS has not been provided.</p>

      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
        <h2>Punctuation and formatting</h2>
        <p>Punctuation and capitalisation should reflect what is published in the article. The following exceptions apply:
            Small Caps may be transcribed as either all uppercase or as mixed case. Hyphens indicating words split across lines may be left in (as per the original), keeping the word split across two lines; or removed with both parts of the word combined onto the end of the first line. In both of these cases the word will be correctly indexed for searching. Do not remove hyphens that occur elsewhere in the text (e.g. George-street keeps the hyphen)</p>

      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
        <h2>General</h2>
        <p>Upside down letters, these should be transcribed as the correct characters. Add a comment notifying other users that the line/character is upside down when it is important to the flow of the text (when a letter has been inserted upside down within a word then this does not need to be mentioned, if the upside down text is the solution to a puzzle then this should be mentioned).Transcribe the ‘long s’ or ‘ſ’ (as appears in many early publications) as a lower-case ‘s’.
Transcribe names starting with M’ as Mc (where appropriate), or add a comment with the corrected spelling.
Insert obviously missing letters – for example if you have Melb urne the ‘o’ may be inserted.</p>

      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->




{% endblock %}